<header >
    <div class="bg-white flex justify-between lg:justify-start items-center ">
        <div class="logo p-2 w-1/6 ">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSvN9OyE98UW1W5_92EU64vyGYHTAKb4mZ6Y7AtZD9-wW-MwJZb2jTHHGVTP_Ajf_uGg&usqp=CAU" width="210" alt="">
        </div>
        <div class="links lg:block w-1/6 md:w-4/6">
            <ul class="flex justify-center gap-5">
                <li><a href="" class="link cursor-pointer hover:underline">Inicio</a></li>
                <li><a href="habitacion" class="link cursor-pointer hover:underline">Habitaciones</a></li>
                <li><a href="servicio" class="link cursor-pointer hover:underline ">Servicios</a></li>
                <li><a href="contacto" class="link cursor-pointer hover:underline">Contacto</a></li>
                <li><a href="reserva" class="link cursor-pointer hover:underline">Reservar</a></li>
            </ul>
        </div>
        <div  class="flex justify-center gap-5 font-bold">
            <a href="login" class="mr-5 text-black p-2 hover:text-gray-500 uppercase">Iniciarsesion</a>
            <a href="registro" class="border-4 border-black text-black font-bold py-2 px-4 rounded-full align-middle transition duration-500 hover:bg-gray-300 hover:text-black uppercase">Registro</a>
        </div>
    </div>
</header>
<div class="text-center items-center  w-full p-5 mx-auto bg-gray-400 shadow-3xl round px10 px-30">
    <h1 class="text-2xl font-bold">Pago</h1>
    <label class="text-lg w-72">Tipo de Comprobante</label>
    <div class="h-8">
        <input type="email" class="w-72" name="correo" >
    </div>
    <label class="text-lg">Número de Comprobante:</label>
    <div class="h-8">
        <input type="text" class="w-72" name="nombres">
    </div>
    <label class="text-lg">Pago total:</label>
    <div class="h-8">
        <input type="text" class="w-72" name="apellidos" >
    </div>
    <label class="text-lg" >Fecha de emisión:</label>
    <div class="h-8">
        <input type="date" class="w-72" name="contraseña" >
    </div>
    <label class="text-lg" >Fecha de Pago:</label>
    <div class="h-8">
        <input type="date" class="w-72" name="contraseña" >
    </div>
    <label class="text-lg" >Estado de Pago:</label>
    <div class="h-8">
        <input type="date" class="w-72" name="contraseña" >
    </div>
    <button class="text-2xl bg-gray-500 h-14 text-white rounden border-4 border-yellow-70 font-bold p-2 rounded-full align-middle transition duration-500 hover:bg-white hover:text-black" >
        <a href="reporte">Finalizar Reserva</a>
    </button>
</div>
<footer class="bg-gray-500">
    <div class="bg-wave-pattern bg-repeat-x h-6 relative -top-4"></div>

    <div class="container mx-auto text-center py-10 w-2/3">
        <div class="pb-5">
            <a href="#" class="xl:text-2xl my-4 text-white font-black ">
                Acerca del hotel
            </a>
        </div>
        <div class="text-white">
            <p class="py-2">Somos una página web que compara los precios de hospedajes y las ofertas que nos proporcionan </p> 
            <p class="py-2">diversos sitios de reservaciones en línea. Comparamos y mostramos diferentes ofertas de muchos  </p>
            <p class="py-2">sitios de reservaciones, que nos pagan un cargo si un usuario hace clic en su oferta específica. </p>
            <p class="py-2">No participamos en ningún acuerdo de reservación que tengas con el sitio u hospedaje. No recibimos </p>
            <p class="py-2">ningún pago por tu estadía y no somos responsables de los servicios ofrecidos por el sitio de </p>
            <p class="py-2">reservación y el proveedor de hospedaje.</p>
            <p class="py-2">Nuestra página web colabora con muchos sitios de reservaciones de hoteles de todo Lima, mostramos </p>
            <p class="py-2">al usuario las ofertas mejores, de hoteles que brindan un servicio de calidad.</p>
            <p class="py-2">©2013-2021 </p>
        </div>
    </div>
</footer>